// ///////////////////////////////////////////////////////////////// Site Header
// -----------------------------------------------------------------------------
#site-header {
  background: linear-gradient(to bottom, #041727 0, #062B3F);
}

#header-navigation {
  &:before {
    background: linear-gradient(to bottom, #041727 0, #062B3F);
  }
  .modal-background {
    background: linear-gradient(to bottom, #041727 0, #062B3F);
  }
}

// ///////////////////////////////////////////////////////////// Featured Slider
// -----------------------------------------------------------------------------
#slider-line {
  &:after {
    height: 1px !important;
    border: 1px solid $pumice !important;
    background-color: $pumice !important;
  }
}

.dummy-thumb {
  height: 21px !important;
  width: 53px !important;
  top: calc(50% + 1px) !important;
  border: 2.5px solid #C6C8C7 !important;
  border-radius: 6px !important;
  .chevron-left,
  .chevron-right {
    top: -7px !important;
    path {
      stroke-width: 2;
    }
  }
  .chevron-left {
    transform: rotateZ(90deg) scale(0.65) !important;
    left: 3px !important;
  }
  .chevron-right {
    transform: rotateZ(-90deg) scale(0.65) !important;
    left: 18px !important;
  }
}

// //////////////////////////////////////////////////////////////////// Chiclets
// -----------------------------------------------------------------------------
.chiclet-list {
  .chiclet {
    @include borderRadius_Medium;
    color: $blackPearl;
    &:hover,
    &.active-button {
      color: white;
    }
  }
}

// ///////////////////////////////////////////////////////////////// Site Footer
// -----------------------------------------------------------------------------
#site-footer {
  background: linear-gradient(180deg, #041727 0, #062B3F);
}

#mailchimp-form {
  input {
    &[type="submit"] {
      &:hover {
        background-color: #66989A;
      }
    }
  }
}

// ///////////////////////////////////////////////////////////////// Detail Page
// -----------------------------------------------------------------------------
.page-project {
  .values {
    .links {
      a {
        color: $highlight_Dark;
      }
    }
  }
}

// /////////////////////////////////////////////////////////////// Showcase Page
// -----------------------------------------------------------------------------
#taxonomy-grid {
  .taxonomy {
    border-color: rgba($showcaseGray, 0.5);
  }
}

// /////////////////////////////////////////////////////////////// Accessibility
// -----------------------------------------------------------------------------
.breadcrumb-link,
.project-card,
.pagination-controls .page-button,
.pagination-controls .control-button,
#site-footer a,
.page-project .focus-visible {
  @include borderRadius_Medium;
}
