// /////////////////////////////////////////////////////////////////////// Fonts
// -----------------------------------------------------------------------------
$fontAssetPath: '~assets/fonts';

///////////////////////////////////////////////////////////////////// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontAssetPath}/Montserrat/Montserrat-Medium.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontAssetPath}/Montserrat/Montserrat-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontAssetPath}/Montserrat/Montserrat-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontAssetPath}/Montserrat/Montserrat-Bold.ttf') format('opentype');
  font-weight: 700;
}

////////////////////////////////////////////////////////////////////////// Inter
@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/Inter/Inter-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/Inter/Inter-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/Inter/Inter-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: bold;
}

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
html, body {
  background-color: $blackHaze;
  color: $codGray;
}

// ////////////////////////////////////////////////////////////// [Post] Imports
// -----------------------------------------------------------------------------
@import 'components';
