// ////////////////////////////////////////////////////////////////// Typography
// -----------------------------------------------------------------------------
// -------------------------------------------------------------------- Families
$font_Primary: 'Inter', sans-serif, monospace;
$font_Secondary: 'Montserrat', sans-serif, monospace;

// ---------------------------------------------------------------------- Sizing
// fontSize_Mini | 11pt
// fontSize_Small | 14pt
// fontSize_Regular | 16pt
// fontSize_Medium | 18pt
// fontSize_Large | 20pt
// fontSize_ExtraLarge | 24pt
// fontSize_ExtraMediumLarge | 28pt
// fontSize_ExtraExtraLarge | 50pt

$fontSize_Mini: 0.6875rem;
$fontSize_Small: 0.875rem;
$fontSize_Regular: 1rem;
$fontSize_Medium: 1.125rem;
$fontSize_Large: 1.25rem;
$fontSize_ExtraLarge: 1.5rem;
$fontSize_ExtraMediumLarge: 1.75rem;
$fontSize_ExtraExtraLarge: 3.125rem;

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
// -------------------------------------------------------------------- Coloring
$site_backgroundColor: $blackHaze;
$font_Color_Primary: $codGray;
$font_Color_Secondary: $tundora;

$fill_Dark_Primary: $tiber;
$fill_Dark_Secondary: $midnight;
$fill_Light: $blackHaze;

$highlight_Light: $downy;
$highlight_Medium: $paradiso;
$highlight_Dark: $ming;

$border_Color_Light: $blackHaze;
$border_Color_Medium: $mercury;
$border_Color_Dark: $pumice;
