// /////////////////////////////////////////////////////////////////////// Fonts
// -----------------------------------------------------------------------------
$fontAssetPath: '~assets/theme/fonts';

///////////////////////////////////////////////////////////////////// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontAssetPath}/Montserrat/Montserrat-Medium.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontAssetPath}/Montserrat/Montserrat-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontAssetPath}/Montserrat/Montserrat-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fontAssetPath}/Montserrat/Montserrat-Bold.ttf') format('opentype');
  font-weight: 700;
}

////////////////////////////////////////////////////////////////////////// Inter
@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/Inter/Inter-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/Inter/Inter-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/Inter/Inter-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: bold;
}

// ///////////////////////////////////////////////////////////////////// General
// -----------------------------------------------------------------------------
html, body {
  background-color: $blackHaze;
  color: $codGray;
}

// ////////////////////////////////////////////////////////////////// Components
// -----------------------------------------------------------------------------
.chiclet-list {
  .chiclet {
    @include borderRadius_Medium;
    color: $blackPearl;
    background: $blackHaze;
    &:hover {
      background-color: $ming;
      color: white;
    }
  }
}

.button {
  &.type-A {
    @include shadow1;
  }
}

.breadcrumb-link {
  color: $paradiso;
}

#site-footer {
  .subheading,
  .copyright {
    a {
      color: $downy;
    }
  }
  .navigation-link {
    font-family: $font_Secondary;
  }
}

#mailchimp-form {
  input {
    &[type="submit"] {
      background-color: $paradiso;
    }
  }
}

.pagination-controls {
  .page-button,
  .breaker,
  .control-button {
    color: $tiber;
  }
  .page-button {
    &.current {
      color: $tiber;
    }
  }
}

.dropdown-root {
  font-family: $font_Primary;
  .highlighted {
    background-color: $downy;
  }
}

.dropdown-wrapper {
  .highlighted {
    background-color: $downy;
  }
}

.project-card {
  .title {
    font-family: $font_Secondary;
    color: $tiber;
  }
  .description {
    color: $tundora;
  }
}

#taxonomy-grid {
  .taxonomy {
    border: 2px solid rgba($showcaseGray, 0.5);
  }
  .taxonomy-label {
    color: $codGray;
  }
}

#header-hero {
  .index-view {
    .breadcrumb-link {
      color: $downy;
    }
  }
  .filters-applied,
  .filters-view {
    &.hero-header {
      background-color: $blackHaze;
    }
  }
}

#filter-panel {
  .active-button {
    background-color: $tiber;
  }
  .filter-category {
    &.heading {
      font-family: $font_Secondary;
    }
  }
}

#filter-panel-toggle-button {
  &.active {
    background-color: $tiber;
  }
}

#list-block-toggle-button {
  &:before {
    background-color: $tiber;
  }
}

#filter-panel-controls {
  font-family: $font_Secondary;
  .clear-selected,
  .done {
    &:hover {
      background-color: $ming;
    }
  }
  .clear-selected {
    background-color: $blackHaze;
    color: $tiber;
  }
  .done {
    background-color: $tiber;
  }
}

.filter-bar {
  .input {
    font-family: $font_Secondary;
    background-color: $blackHaze;
  }
}

.error-page {
  .block-404 {
    .four-o-four {
      font-family: $font_Secondary;
    }
  }
  .prompt-link {
    color: $paradiso;
  }
}

#header-navigation {
  .navigation-link {
    font-family: $font_Secondary;
  }
}

.chart-container {
  .chart-title {
    font-family: $font_Secondary;
  }
}

.slider-container {
  .view-all {
    &:hover {
      background-color: $ming;
    }
  }
}

#project-view-container {
  .placeholder-results-empty {
    .clear-all-null-results {
      color: $blackPearl;
      background: $blackHaze;
      &:hover {
        background-color: $ming;
      }
    }
  }
}

#filter-panel-toolbar {
  .title {
    font-family: $font_Secondary;
  }
}

.page-project {
  .ctas {
    a {
      color: $blackPearl;
      &.primary-cta {
        background-color: $tiber;
        &:hover {
          background-color: $ming;
        }
      }
    }
  }
  .card {
    &.big-number {
      color: $tiber;
      background-color: $blackHaze;
    }
    &.case-study {
      border-color: $blackHaze;
      .title,
      .description {
        color: $tundora;
      }
      .cta {
        color: $tiber;
        border-color: $tiber;
        &:hover {
          background-color: $ming;
          border-color: $ming;
        }
      }
    }
  }
  .statistic,
  .title {
    font-family: $font_Secondary;
  }
}

#section-key-info {
  .values {
    .links {
      a {
        color: $ming;
      }
      .link-tooltip {
        background-color: $blackHaze;
      }
    }
  }
}
