// ////////////////////////////////////////////////////////////////////// Colors
// -----------------------------------------------------------------------------
$blackPearl: #04192A; // Dark blue/black
$tiber: #052437;  // Very dark matte blue/black
$midnight: #021C36;  // Very dark blue/black
$downy: #6BC4CE; // Light Teal
$paradiso: #3D8F96; // Regular Teal
$ming: #34797D; // Dark Teal

$blackHaze: #F1F3F2; // Very light gray
$mercury: #E5E5E5; // Light gray
$pumice: #D7D9D8; // Light medium gray
$tundora: #494949; // Medium gray
$codGray: #181818; // Dark gray
$cerulean: #06B1E9; // Blue (used for outbound links)

$white: #FFFFFF;

$showcaseGray: #A3A3A3;
